* {box-sizing: border-box;}
/* wrapper principal - dividimos la pagina en dos bloques*/
.wrapper {
    max-width: 100%;
    height: 50% 50%;
    margin: 5px;
    
    
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 10px;
    grid-template-rows: 700px 700px;
  }
/*contenedor 1*/
  .containerone {
    grid-column: 1 ;
    grid-row: 1;
    background-image:url(/images/Diseñoportofolio.png);
    background-size: 100% 100%;
    width:  100%;
    height: 700px;
    margin: 5px;
    border: 5px outset #1C6EA4;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 20% 30% 50%;
    grid-template-rows: 200px 200px;
    text-align:center;
  }
/* contenedor 1 se dividde en 3 columnas y 2 filas*/
/*fila 1*/
  .logo{
    grid-column: 1 ;
    grid-row: 1;
    width:  275px;
    height: 125px;
    margin: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#C0C0C0 ;
    font: bold;
    -webkit-text-stroke: 2px black;
    cursor:pointer;

  }
  .busqueda{
    grid-column: 3 ;
    grid-row: 1;
    width:  240px;
    height: 45px;
    margin: 5px;
    margin-left:400px;
    background-color: rgb(250, 249, 246);
    padding-left: 5px;
    padding-bottom: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font: bold;
  }
/*fila 2*/  
/* subcontenedor dentro del contenedor 1*/
 .mainone{
  grid-column: 2 ;
  grid-row: 2;
  width:  100%;
  height: 325px;
  
  margin-top: 40px;
  margin-left: 180px;
  cursor: crosshair;
  
}
  

  .text{
    color: rgb(10, 6, 46) ;
    font-weight: 900;
    background-color: transparent;
    margin-top: -320px;
    margin-left: 1px;
    -webkit-text-stroke: 0.25px rgb(4, 97, 105);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    z-index: 1;
  }
  

  .background{
    width:  125%;
    height: 350px;
    margin-top: 25px;
    margin-left: -35px;
    background-color: aliceblue;
    
  }
  

  .opacity{
    opacity: 0.4;
  }

  /* boton que nos llevaria a otra pagina dentro de la misma web*/
.miboton{
  margin: 0px;
  border: 5px ridge #1C6EA4;
  border-radius: 10px;
  color: #eee6e6;
  cursor: pointer;
  font-size: 16px;

  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: rgb(226, 12, 12);
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  }
  .miboton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.16);
  }




  /*contenedor 2*/
  .containertwo { 
    grid-column: 1 ;
    grid-row: 2 ;
    width:  100%;
    height: 900px;
    border: 5px outset #1C6EA4;
    border-radius: 10px;
    background-color: transparent;
    margin:5px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 25% 45% 10%;
    
  }
/* el primer campo de 2º contenedor se resuelve con una tabla 1fila y 4col */ 
 .barramenu {
    grid-column: 1 ; 
    grid-row: 1;
    width:  100%;
    height: 126px;
    display: table;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#C0C0C0 ;
    
    -webkit-text-stroke: 2px black;
    cursor:pointer;
  }
 
 
  table {
    width: 100%;
 }
   tr{ 

    height: 126px;

   }
     
  td {
    width: 25%;
    height: 126px;
    border-right: 1px solid blue;
    text-align: center;
    padding-right: 75px;
 }

 td:last-child{
  border-right: none;
 }

 img {
  width:  35px;
  height: 35px;

 }

 .element {
   margin-left: 100px; 
   margin-top: -50px;
   height: 25% ;

 }

 td:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.16);
}


.linea {
  border-top: 1px solid blue;
  height: 1px;
  max-width: 800px;
  padding: 0;
  margin: 20px auto 0 auto;
}
  
/*fila 2*/  
/* subcontenedor dentro del contenedor 2*/

.maintwo{
  grid-column: 1 ;
  grid-row: 2;
  width:  100%;
  height: 225px;
  
  margin-top: 5px;
  margin-left: 5px;
  cursor: crosshair;
  
}


.text2{
  color: rgb(10, 6, 46) ;
  font-weight: bold;
  background-color: transparent;
  text-align: center;
  -webkit-text-stroke: 0.25px rgb(4, 97, 105);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}

.miboton2{
  margin-left: 100px;
  border: 5px ridge #1C6EA4;
  border-radius: 10px;
  color: #eee6e6;
  cursor: pointer;
  font-size: 16px;
  
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background-color: rgb(226, 12, 12);
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  }
  .miboton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.16);
    background-color: #1C6EA4;
  }

  .footermenu {
    grid-column: 1 ; 
    grid-row: 4;
    width:  100%;
    height: 50px;
    display: table;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#C0C0C0 ;
    
    -webkit-text-stroke: 2px black;
    cursor:pointer;
  }

  .element2 {
    margin-left: 100px; 
    margin-top: -50px;
    height: 25% ;
 
  }


  a:hover {
    font-size:20px;
    color: red;
  }